{% extends 'learning_logs/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}


{% block header %}


<h3>{{contact}}</h3>
<p>You can edit this contact:
        <a href="{% url 'contacts:edit_contact' contact.id %}" class="btn btn-success btn-sm">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </a>
        You can delete this contact:
        <a href="{% url 'contacts:delete_contact' contact.id%}" class="btn btn-danger btn-sm delete" data-confirm="You are going to delete a Type of Sport! Continue?">
          <span class="glyphicon glyphicon-pencil"></span> Delete
        </a>
      </p>
<table class="table table-striped">
    <tbody>

    <tr>
             <th>This contact is:</th>
             <td>{{contact.business_type}}</td>
    </tr>
    <tr>
             <th>The full name of the contact person is:</th>
             <td>{{contact.person_name}}</td>
    </tr>
    <tr>
            <th>The legal name of the company is:</th>
             <td>{{contact.company_name}}</td>
    </tr>
    <tr>
            <th>The official website is:</th>
             <td>{{contact.website}}</td>
    </tr>
    <tr>
            <th>Contact email is:</th>
             <td>{{contact.email}}</td>
    </tr>
    <tr>
            <th>The skype is:</th>
             <td>{{contact.skype}}</td>
    </tr>
    <tr>
            <th>Contact mobile phone is:</th>
             <td>{{contact.phone}}</td>
    </tr>
    <tr>
            <th>The company is interested in:</th>
             <td>{{contact.product}}</td>
    </tr>
    <tr>
            <th>Notes:</th>
             <td>{{contact.notes}}</td>
    </tr>
    <tr>
            <th>The contact was met at:</th>
             <td>{{contact.exibition}}</td>
    </tr>
    <tr>
            <th>Date of contact:</th>
             <td>{{contact.contacted_on}}</td>
    </tr>
    <tr>
            <th>The contact should be contacted at: </th>
             <td>{{contact.action_date}}</td>
    </tr>
    <tr>
            <th>Account manager is:</th>
             <td>{{contact.account_manager}}</td>
    </tr>

    </tbody>
</table>

{% endblock header %}


{% block content %}
  <p>
    {% buttons %}
    <a href="{% url 'contacts:new_comment' contact.id %}" class="btn btn-primary" role = 'button'>{% bootstrap_icon "pushpin" %} add comment for this contact</a>
    {% endbuttons %}
  </p>
  {% for comment in comments %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Added: {{ comment.createdOn|date:'M d, Y H:i' }}</h4>
      {% buttons %}
            <a href="{% url 'contacts:edit_comment' comment.id %}" class="btn btn-success" role = 'button'>{% bootstrap_icon "pencil" %} edit comment </a>
            <a href="{% url 'contacts:delete_comment' comment.id %}" class="btn btn-danger delete" role = 'button' data-confirm="Are you sure to delete this comment?" >{% bootstrap_icon "remove" %} delete comment </a>
      {% endbuttons %}

    </div>
      <div class="panel-body">
          {{ comment.comment|linebreaks }}
      </div>
    </div> <!-- panel -->

    {% empty %}
    There are no more comments for this Contact yet.



  {% endfor %}



<script type="text/javascript">
  var deleteLinks = document.querySelectorAll('.delete');

for (var i = 0; i < deleteLinks.length; i++) {
  deleteLinks[i].addEventListener('click', function(event) {
      event.preventDefault();

      var choice = confirm(this.getAttribute('data-confirm'));

      if (choice) {
        window.location.href = this.getAttribute('href');
      }
  });
}
</script>

{% endblock content %}
