{% extends "learning_logs/base.html" %}

{% block header %}
  <div class='jumbotron'>
       <h1> </h1>
    </div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<h2>Hello, {{ user.username }}.</h2>
     {% if user.username == 'Booker' %}
     <p>Уважаемый букмекер! Вам предоставлена возможность</p>
     <ul>
         <li>Добавлять новые виды спорта.</li>
         <li>Удалять виды спорта и записи сделанные к ним.</li>
         <li>Вносить новые записи для перевода для каждого из видов спорта, редактировать и удалять их.</li>
         <li>Для продолжения нажмите пункт меню <strong>"Sports".</strong></li>
     </ul>
         {% else %}
          <p>Уважаемый пользователь!</p>
          <ul>
              <li>В данной системе вы можете найти новые события и лиги, которые необходимо перевести для партнеров.</li>
              <li>Для продолжения нажмите пункт меню <strong>"Sports".</strong></li>
              <li>Если в списке видов спорта, напротив вида спорта Вы увидите красные пометки, нажмите для ознакомления с внесенными изменениями.</li>
              <li>У вас есть возможность редактировать, удалять и создавать комментарии по каждому из видов спорта.</li>

          </ul>
     {% endif %}
{% else %}
    <h2><a href="{% url 'users:login' %}">Log in</a> to use the system.</h2>
    <p>Or ask a head of B2B department for your login details.</p>
{% endif %}
{% endblock content %}

