{% extends 'learning_logs/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}


{% block header %}

<div class="well">
<p>You can edit this record:
        <a href="{% url 'learning_logs:edit_topic' topic.id %}" class="btn btn-success btn-sm">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </a>
        You can delete this record:
        <a href="{% url 'learning_logs:delete_topic' topic.id%}" class="btn btn-danger btn-sm delete" data-confirm="You are going to delete a RECORD! Continue?">
          <span class="glyphicon glyphicon-pencil"></span> Delete
        </a>
    </p>
</div>
<table class="table table-striped">
    <tbody>
    <thead>
            <tr>
              <th>Sport: (Спотр)</th>
              <th>Type: (Тип)</th>
              <th>Association: (Ассоциация)</th>
              <th>League: (Лига)</th>
              <th>Devision: (Девизион)</th>
              <th>Gender: (Пол)</th>
              <th>Country: (Страна)</th>
              <th>Region if any: (Регион)</th>
            </tr>
          </thead>

    <tr>

             <td>{{topic.sport}}</td>

             <td>{{topic.event}}</td>

             <td>{{topic.asoc}}</td>

             <td>{{topic.league}}</td>

             <td>{{topic.devision}}</td>

             <td>{{topic.gender}}</td>

             <td>{{topic.country}}</td>

             <td>{{topic.region}}</td>
    </tr>



    </tbody>
</table>

{% endblock header %}


{% block content %}
  <p>
    {% buttons %}
    <a href="{% url 'learning_logs:new_entry' topic.id %}" class="btn btn-primary" role = 'button'>{% bootstrap_icon "pushpin" %} add new WWW for this record</a>
    {% endbuttons %}
  </p>



    <!--Table-->
    <table class="table table-striped">
    <tbody>
            <thead>
            <tr>
              <th>Url Link</th>
              <th>Click</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
  {% for entry in entries %}
         <tr>
             <td>{{entry.text}}</td>

             <td><a href="{{entry.text}}" target="_blank">VISIT</a></td>

             <td><a href="{% url 'learning_logs:edit_entry' entry.id %}" class="btn btn-success btn-sm" role = 'button'>{% bootstrap_icon "pencil" %} edit URL </a></td>

             <td><a href="{% url 'learning_logs:delete_entry' entry.id %}" class="btn btn-danger btn-sm delete" role = 'button' data-confirm="Are you sure to delete this URL?" >{% bootstrap_icon "remove" %} delete URL </a></td>
         </tr>
  {% empty %}
      There are no more URLs for this Record yet.
  {% endfor %}
    </tbody>
    </table>



<script type="text/javascript">
  var deleteLinks = document.querySelectorAll('.delete');

for (var i = 0; i < deleteLinks.length; i++) {
  deleteLinks[i].addEventListener('click', function(event) {
      event.preventDefault();

      var choice = confirm(this.getAttribute('data-confirm'));

      if (choice) {
        window.location.href = this.getAttribute('href');
      }
  });
}
</script>

{% endblock content %}
